DB_NAME=cokerthon
DB_USERNAME=cokerthon
DB_PASSWORD=cokerthon
MYSQL_ROOT_PASSWORD=cokerthon-root
DB_HOST_PORT=3306
APP_PORT=8080
JWT_SECRET=8th-cokerthon-default-jwt-secret-key-for-local-dev
JWT_ACCESS_TOKEN_EXPIRATION_MILLIS=86400000
